@using BloodTypeC.DAL.Models
@model IEnumerable<Beer>
@{
    ViewData["Title"] = "★ Favorites";
}

<div class="page-name">
    Your favorite beers
</div>

<div class="products">
    @if (Model.Any())
    {
        @Html.Partial("_BeerPartialView", Model)
    }
    else
    {
        <div class="empty">
            The list is currently empty.
        </div>
    }
</div>
