@model BloodTypeC.DAL.Models.User

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-name">
    Delete user
</div>
<h3 class="text-white products">Are you sure you want to delete the user: &nbsp <div class="text-yellow">@Html.DisplayFor(model => model.UserName)</div>?</h3>
<div class="row">
    <div class="buttons">
        <form asp-action="DeleteUser">
            <input type="submit" value="Delete" class="delete-button-slim" />
        </form>
    </div>
    <div class="buttons">
        <a asp-action="Index"><button class="search-button">Back to List</button></a>
    </div>
</div>