@model BloodTypeC.DAL.Models.User

@{
    ViewData["Title"] = "EditUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-name">
    Edit user
</div>
<div class="row">
    <div class="search-form">
        <div class="products">
            <div class="col-md-4">
                <form asp-action="EditUser">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="UserName" class="text-white"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="text-white"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check products">
                        <label class="text-white">
                            <input class="form-check-input" asp-for="EmailConfirmed" /> @Html.DisplayNameFor(model => model.EmailConfirmed)
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="search-button"/>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <a asp-action="Index"><button class="search-button">Back to List</buttpn></a>
        </div>
    </div>
</div>


