@{
    ViewData["Title"] = "Gandalf Protocol";
}
@{
    Layout = null;
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GP</title>
    <style>
        body {
            background-color: black;
        }

        .video {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <video controls loop autoplay class="video">
        <source src="~/Video/GP.mp4" type="video/mp4">
    </video>
</body>