@model IndexViewModel

@{
    ViewData["Title"] = "All beers";
}

<div class="page-name">
    All Beers
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_BeerPartialView", Model.Beers);
    }
 }