@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="SearchByName">
    <p>
        Beer name: <input type="text" name="searchName" />
        <button type="submit" class="btn btn-primary">Search</button>
    </p>
</form>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
