@model IndexViewModel
@using BloodTypeC.WebApp.Language;
@inject LanguageService language

@{
    ViewData["Title"] = @language.Getkey("All beers");
}
<div class="page-name">
    @language.Getkey("All beers")
</div>
<div>
        @{await Html.RenderPartialAsync("_BeerPartialView", Model.Beers);}

</div>
