body {
    background-color: rgb(39, 41, 42);
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

.logo {
    margin: auto;
    max-width: 650px;
    padding: 20px;
}

.logo-responsive {
    width: 100%;
    max-width: 650px;
    height: auto;
    margin: auto;
}

.age-question {
    font-family: 'Great Vibes', cursive;
    color: white;
    font-size: 50px;
    width: 310px;
    margin: auto;
    padding: 20px;
}

.age-validation-button-style {
    height: 50px;
    width: 200px;
    border-radius: 15px;
    border-width: 2px;
    border: solid;
    border-color: rgb(253, 197, 0);
    color: white;
    background-color: rgb(39, 41, 42);
    font-size: 20px;
    flex: 250px;
    margin: 20px;
    transition: color 0.3s;
    transition: background-color 0.3s;
}

    .age-validation-button-style:hover {
        height: 50px;
        width: 200px;
        border-radius: 15px;
        border-width: 2px;
        color: rgb(39, 41, 42);
        background-color: rgb(253, 197, 0);
        font-size: 20px;
        font-weight: bold;
        flex: 250px;
        margin: 20px;
    }

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page-name {
    color: white;
    font-family: 'Great Vibes', cursive;
    font-size: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.beer-image-possition {
    max-width: 200px;
    max-height: 200px;
    margin: auto;
}

.beer-image {
    max-width: 200px;
    max-height: 200px;
    margin: auto;
}

.product-card {
    flex: 1 0 21%;
    margin: 25px;
    height: 450px;
    background-color: rgb(128, 128, 128);
    max-width: 300px;
    min-width: 284px;
    border-radius: 15px;
    color: white;
}

.product-card {
    flex: 1 0 21%;
    margin: 25px;
    height: 415px;
    background-color: rgb(128, 128, 128);
    max-width: 300px;
    min-width: 284px;
    border-radius: 15px;
    color: white;
}

.product-card-details {
    flex: 1 0 21%;
    margin: 25px;
    height: auto;
    background-color: rgb(128, 128, 128);
    max-width: 300px;
    min-width: 284px;
    border-radius: 15px;
    color: white;
}

.products {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center
}

.empty {
    color: white;
}
.product-button {
    height: 45px;
    width: 70px;
    border-radius: 12px;
    border-width: 0.5px;
    border: solid;
    border-color: rgb(253, 197, 0);
    color: white;
    font-size: 14px;
    background-color: rgb(128, 128, 128);
    margin: 5px;
    transition: color 0.3s;
    transition: background-color 0.3s;
}

    .product-button:hover {
        height: 45px;
        width: 70px;
        border-radius: 12px;
        border-width: 0.5px;
        border: solid;
        border-color: rgb(253, 197, 0);
        color: rgb(39, 41, 42);
        font-size: 14px;
        background-color: rgb(253, 197, 0);
        margin: 5px;
    }

.fav-rem-button {
    height: 45px;
    width: 100px;
    border-radius: 12px;
    border: solid;
    border-color: rgb(253, 197, 0);
    color: rgb(39, 41, 42);
    font-size: 14px;
    background-color: rgb(253, 197, 0);
    margin: 5px;
    transition: color 0.3s;
    transition: background-color 0.3s;
}

    .fav-rem-button:hover {
        background-color: rgb(128, 128, 128);
        height: 45px;
        width: 100px;
        border-radius: 12px;
        border: solid;
        border-color: rgb(253, 197, 0);
        color: white;
        font-size: 14px;
        margin: 5px;
    }

.fav-button {
    height: 45px;
    width: 100px;
    border-radius: 12px;
    border: solid;
    border-color: rgb(253, 197, 0);
    color: white;
    font-size: 14px;
    background-color: rgb(128, 128, 128);
    margin: 5px;
    transition: color 0.3s;
    transition: background-color 0.3s;
}

    .fav-button:hover {
        background-color: rgb(253, 197, 0);
        height: 45px;
        width: 100px;
        border-radius: 12px;
        border: solid;
        border-color: rgb(253, 197, 0);
        color: rgb(39, 41, 42);
        font-size: 14px;
        margin: 5px;
    }

.search-button {
    height: 45px;
    width: 120px;
    border-radius: 12px;
    border-width: 2px;
    border: solid;
    border-color: rgb(253, 197, 0);
    color: white;
    font-size: 18px;
    background-color: rgb(128, 128, 128);
    transition: color 0.3s;
    transition: background-color 0.3s;
    margin: 0;
}

    .search-button:hover {
        height: 45px;
        width: 120px;
        border-radius: 12px;
        border-width: 2px;
        border: solid;
        border-color: rgb(253, 197, 0);
        color: rgb(39, 41, 42);
        font-size: 18px;
        background-color: rgb(253, 197, 0);
        font-weight: bold;
        margin: 0;
        }

.details {
    color: white;
    padding: 20px;
    
}

.details-product {
    color: white;
    padding-left: 20px;
    padding-bottom: 20px;
}

.section {
    position: relative;
    height: 100vh;
}

    .section .section-center {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

#search {
    font-family: 'PT Sans', sans-serif;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
}

.search-form {
    background: rgb(39,41,42);
    padding: 40px;
    border-radius: 6px;
}

    .search-form .form-group {
        position: relative;
        margin-bottom: 20px;
    }

    .search-form .form-control {
        background-color: #fff;
        height: 50px;
        color: #191a1e;
        border: none;
        font-size: 16px;
        font-weight: 400;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 40px;
        padding: 0px 25px;
    }

        .search-form .form-control::-webkit-input-placeholder {
            color: rgba(82, 82, 84, 0.4);
        }

        .search-form .form-control:-ms-input-placeholder {
            color: rgba(82, 82, 84, 0.4);
        }

        .search-form .form-control::placeholder {
            color: rgba(82, 82, 84, 0.4);
        }

    .search-form input[type="date"].form-control:invalid {
        color: rgba(82, 82, 84, 0.4);
    }

    .search-form select.form-control {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

        .search-form select.form-control + .select-arrow {
            position: absolute;
            right: 10px;
            bottom: 6px;
            width: 32px;
            line-height: 32px;
            height: 32px;
            text-align: center;
            pointer-events: none;
            color: rgba(0, 0, 0, 0.3);
            font-size: 14px;
        }

            .search-form select.form-control + .select-arrow:after {
                content: '\279C';
                display: block;
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
            }

    .search-form .form-label {
        display: block;
        margin-left: 5px;
        margin-bottom: 5px;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 24px;
        height: 24px;
        font-size: 12px;
        color: #fff;
    }

    .search-form .form-checkbox input {
        position: absolute !important;
        margin-left: -9999px !important;
        visibility: hidden !important;
    }

    .search-form .form-checkbox label {
        position: relative;
        padding-top: 4px;
        padding-left: 30px;
        font-weight: 400;
        color: #fff;
    }

        .search-form .form-checkbox label + label {
            margin-left: 15px;
        }

    .search-form .form-checkbox input + span {
        position: absolute;
        left: 2px;
        top: 4px;
        width: 20px;
        height: 20px;
        background: #fff;
        border-radius: 50%;
    }

        .search-form .form-checkbox input + span:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 0px;
            height: 0px;
            border-radius: 50%;
            background-color: #808080;
            -webkit-transition: 0.2s all;
            transition: 0.2s all;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

    .search-form .form-checkbox input:not(:checked) + span:after {
        opacity: 0;
    }

    .search-form .form-checkbox input:checked + span:after {
        opacity: 1;
        width: 10px;
        height: 10px;
    }

    .search-form .form-btn {
        margin-top: 27px;
    }

    .search-form .submit-btn {
        color: #fff;
        background-color: #f23e3e;
        font-weight: 400;
        height: 50px;
        font-size: 14px;
        border: none;
        width: 100%;
        border-radius: 40px;
        text-transform: uppercase;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }

        .search-form .submit-btn:hover,
        .search-form .submit-btn:focus {
            opacity: 0.9;
        }

.form-check-input:checked {
    background-color: rgb(253, 197, 0);
    border-color: rgb(253, 197, 0);
}

.delete {
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}