@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <div class="page-name text-danger center-elements">@ViewData["Title"]</div>
    <div class="center-elements"><img src="https://i.kym-cdn.com/photos/images/newsfeed/000/345/169/bc7.png" /></div>
</header>
