@page
@model ConfirmEmailModel
@using BloodTypeC.WebApp.Language;
@inject LanguageService language

@{
    ViewData["Title"] = @language.Getkey("Confirm email");
}

<div class="page-name">
    @language.Getkey("E-mail confirmed")
</div>
<div>
    <p class="center-elements text-white">
        @language.Getkey("Your e-mail has been confirmed. Your account is active.")
    </p>
    <div class="buttons">
        
                <a id="login" href="/Identity/Account/Login">
                <button class="search-button">
                @language.Getkey("Login")
                </button>
                </a>
        
        </div>
</div>
