@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="page-name">
    E-mail confirmed
</div>
<div>
    <p class="center-elements text-white">
    Your e-mail has been confirmed. Your account is active.
    </p>
    <div class="buttons">
        
                <a id="login" href="/Identity/Account/Login">
                <button class="search-button">
                Login
                </button>
                </a>
        
        </div>
</div>
