@page
@model ForgotPasswordConfirmation
@using BloodTypeC.WebApp.Language;
@inject LanguageService language

@{
    ViewData["Title"] = @language.Getkey("Forgot password confirmation");
}

<div class="page-name">
    @language.Getkey("Forgot password confirmation")
</div>
<p class="text-white center-elements">
    @language.Getkey("Please check your email to reset your password.")
</p>
