@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="page-name">
    Forgot password confirmation
</div>
<p class="text-white center-elements">
    Please check your email to reset your password.
</p>
