@page
@model ResetPasswordConfirmationModel
@using BloodTypeC.WebApp.Language;
@inject LanguageService language

@{
    ViewData["Title"] = @language.Getkey("Reset password confirmation");
}

<div class="page-name">
    @language.Getkey("Reset password confirmation")
</div>
<p>
    @language.Getkey($"Your password has been reset. You can login right now.")</a>.
</p>
