@using BloodTypeC.Logic.Extensions;
@using System.ComponentModel.DataAnnotations;
@model BeerViewModel

@{
    ViewData["Title"] = "Create beer";
    var nameMaxLength = Model.GetAttributeFrom<StringLengthAttribute>(nameof(Model.Name)).MaximumLength;
    var nameMinLength = Model.GetAttributeFrom<StringLengthAttribute>(nameof(Model.Name)).MinimumLength;
    var maxScore = Convert.ToDouble(Model.GetAttributeFrom<RangeAttribute>(nameof(Model.Score)).Maximum);
    var maxAbv = Convert.ToDouble(Model.GetAttributeFrom<RangeAttribute>(nameof(Model.AlcoholByVolume)).Maximum);
    var breweryMaxLength = Model.GetAttributeFrom<StringLengthAttribute>(nameof(Model.Brewery)).MaximumLength;
}

<div class="page-name">
    Add Beer
</div>

<div class="col-md-12 section-center container search-form">
    <form asp-action="Create">
        <div class="row">
            <div class="col-md-6">
                <div> <span class="form-label text-white">Beer Name<font color="red">*</font></span></div>
                <div class="input-group col-md-6 tooltip-container">
                    <input type="text" asp-for="Name" class="form-control" placeholder="Beer name" />
                    <button class="btn btn-outline-secondary tooltip-button" type="button">
                        <p class="tooltip-text">The name needs to be @nameMinLength - @nameMaxLength characters long.</p>
                        <i class="bi bi-info-circle" id="info-icon"></i>
                    </button>
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <div> <span class="form-label text-white">Brewery</span></div>
                <div class="input-group col-md-6 tooltip-container">
                    <input type="text" asp-for="Brewery" class="form-control" placeholder="Brewery name" />
                    <button class="btn btn-outline-secondary tooltip-button" type="button">
                        <p class="tooltip-text">We will capitalise the first letter. <br>Max @breweryMaxLength characters.</p>
                        <i class="bi bi-info-circle" id="info-icon"></i>
                    </button>
                </div>
                <span asp-validation-for="Brewery" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div> <span class="form-label text-white">Style</span></div>
                <div class="input-group col-md-6 tooltip-container">
                    <input type="text" asp-for="Style" class="form-control" placeholder="Style" />
                    <button class="btn btn-outline-secondary tooltip-button" type="button">
                        <p class="tooltip-text">We will capitalise the first letters and remove any non-letter characters, except dash (-).</p>
                        <i class="bi bi-info-circle" id="info-icon"></i>
                    </button>
                </div>
                <span asp-validation-for="Style" class="text-danger"></span>
            </div><div class="col-md-6">
                <div> <span class="form-label text-white">Flavors</span></div>
                <div class="input-group col-md-6 tooltip-container">
                    <input type="text" asp-for="FlavorString" class="form-control" placeholder="Flavors" />
                    <button class="btn btn-outline-secondary tooltip-button" type="button">
                        <p class="tooltip-text">Separate multiple flavors using <b>any</b> non-letter characters (#%$^!&* etc).<br>But pros simply use commas or spaces.</p>
                        <i class="bi bi-info-circle" id="info-icon"></i>
                    </button>
                </div>
                <span asp-validation-for="FlavorString" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div> <span class="form-label text-white">Alcohol by volume</span></div>
                <div class="input-group col-md-6 tooltip-container">
                    <input type="text" asp-for="AlcoholByVolume" class="form-control" placeholder="Alcohol by volume" />
                    <button class="btn btn-outline-secondary tooltip-button" type="button">
                        <p class="tooltip-text">Leaving this empty will set the value to 0.<br>Max value is @maxAbv.</p>
                        <i class="bi bi-info-circle" id="info-icon"></i>
                    </button>
                </div>
                <span asp-validation-for="AlcoholByVolume" class="text-danger"></span>
            </div><div class="col-md-6">
                <div> <span class="form-label text-white">Brewery</span></div>
                <div class="input-group col-md-6 tooltip-container">
                    <input type="text" asp-for="Score" class="form-control" placeholder="Score" />

                    <button class="btn btn-outline-secondary tooltip-button" type="button">
                        <p class="tooltip-text">Leaving this empty will set the score to 0.<br>Max value is @maxScore.</p>
                        <i class="bi bi-info-circle" id="info-icon"></i>
                    </button>

                </div>
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div><div class="col-md-6">
                <div> <span class="form-label text-white">Image</span></div>
                <div class="input-group col-md-6 tooltip-container">
                    <input type="text" asp-for="Image" class="form-control" placeholder="Image URL" />
                    <button class="btn btn-outline-secondary tooltip-button" type="button">
                        <p class="tooltip-text">Provide the URL to the beer's image on the web.</p>
                        <i class="bi bi-info-circle" id="info-icon"></i>
                    </button>
                </div><div class="col-md-3"></div>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
        </div>


        <div class="buttons">
            <div class="form-group button-margin">
                <br /><input type="submit" value="Create" class="search-button button-margin" />

                <button onclick="@("window.location.href='" + Url.Action("Index", "Home") + "'")" class="search-button">
                    Back to list
                </button>

            </div>
        </div>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}