@model BloodTypeC.WebApp.Models.BeerViewModel

@{
    ViewData["Title"] = "Edit";
}

    <div class="page-name">
        Edit Beer
    </div>
    <div class="col-md-12">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="search-form">
                        <form asp-action="Edit">
                            <div class="row">
                                <div class="col-md-6">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <span class="form-label text-white">Beer Name</span>
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Brewery" class="form-label text-white"></label>
                                        <input asp-for="Brewery" class="form-control" />
                                        <span asp-validation-for="Brewery" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Style" class="form-label text-white"></label>
                                        <input asp-for="Style" class="form-control" />
                                        <span asp-validation-for="Style" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="FlavorString" class="form-label text-white"></label>
                                        <input asp-for="FlavorString" class="form-control" />
                                        <span asp-validation-for="FlavorString" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label text-white">Alcohol volume</span>
                                        <input asp-for="AlcoholByVolume" class="form-control" />
                                        <span asp-validation-for="AlcoholByVolume" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Score" class="form-label text-white"></label>
                                        <input asp-for="Score" class="form-control" />
                                        <span asp-validation-for="Score" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="buttons">
                                <div class="form-group">
                                    <input type="submit" value="Save" class="search-button" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
