@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="profile-edit">
    Delete your account
</div>
<div class="row">
    <div class="search-form">
        <div class="center-elements">
            <div class="text-white profile-space">
                Would you like to delete your account?
            </div>
        </div>
        <div class="button-margin center-elements">
            <a id="delete" asp-page="DeletePersonalData">
                <button class="delete-button">Delete account</button>
            </a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
