@page
@model PersonalDataModel
@using BloodTypeC.WebApp.Language;
@inject LanguageService language

@{
    ViewData["Title"] = @language.Getkey("Delete your account");
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="profile-edit">
    @language.Getkey("Delete your account")
</div>
<div class="search-form">
    <div class="center-elements">
        <div class="text-white profile-space">
            @language.Getkey("Would you like to delete your account?")
        </div>
    </div>
    <div class="button-margin center-elements">
        <a id="delete" asp-page="DeletePersonalData">
            <button class="delete-button">@language.Getkey("Delete account")</button>
        </a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
